

    
    .img01 {
        background-image: url(../img/1641646569.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img02 {
        background-image: url(../img/1641627456.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img03{
        background-image: url(../img/1643869369.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img04 {
        background-image: url(../img/1667383155.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img05 {
        background-image: url(../img/1686207323.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img06 {
        background-image: url(../img/1667440402.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    .img07 {
        background-image: url(../img/1667539209.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height : 600px;
    }
    h3 {
        background-image: url(../img/h_event.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        text-indent: -9999px;
        margin-top:50px;
        margin-bottom:50px;
    }

    .event1 {
        background-image: url(../img/1685932709.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
