.eventWrap {
    width: 1200px;
    
    margin : 100px auto;

    h3 {
        background-image: url(../img/h_event.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        text-indent: -9999px;
        margin-bottom: 100px;
        
    }
}
.event1 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
    
}
.event2 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event3 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event4 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event5 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event6 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event7 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event8 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event9 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event10 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event11 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event12 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.event13 {
    background-image: url(../img/1685932709.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 300px;
}
.smart {
    padding: 10px 0;
}