.gnb {
    box-sizing: border-box;
   
}
.menu {
    height : 50px;
    background-color : red;
    display: flex;
    align-items: center;
    a{
        cursor: pointer;
        display: block;
    }
    .login {
        
        background-color : green;
        width : 15%;
       .login_list {
        display: flex;
        height : 50px;
        align-items: center;
        li {
            padding : 10px 30px;
        }
       }
       
        
        
    }
    .menu_list {
        background-color : yellow;
        width : 85%;
        
        span {
            background-image: url(../img/gnb_menu.png);
            background-repeat: no-repeat;
            background-position : -130px -16px;
            margin-left : 120px;
            cursor: pointer;
            display: block;
            text-indent: 10000px;
            
        }
      
    }
}

    

.menu_item {
    height : 300px;
    background-color:rgb(109, 109, 109);
    display : flex;
    .best {
        padding-left: 100px;
    }
    .gnb_sub {
        
    }
}